@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color:#5b21b6;
    --secondary-color:#1f2937;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: var(--secondary-color);
}
*{
    margin: 0;
   
    
}
h1{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.description{
    border: 2px solid var(--primary-color);
    text-align: center;
	width: 90%;
	margin: auto;
	padding: 0.5rem;
}
nav{
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
}
nav a{
    color: white;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight:900;
    font-size:x-large;
    
}
.container {
	width: 90%;
	margin: auto;
}
.main-container {
	width: 90%;
	margin: auto;
}
.input-container {
	margin: 1rem 0;
}
.input-container input {
	padding: 0.5rem;
	font-size: 1rem;
	width: 97%;
	margin: 0.5rem 1rem 1rem 0;
}
.check-btn {
	padding: 0.5rem;
	background: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
	border-radius: 0.25rem;
	width: 100%;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}
/* for quiz page */

.quiz-container {
	padding: 2rem;
	border: 2px solid var(--primary-color);
	border-radius: 0.5rem;
	margin: 1rem 0;
}
.quiz-container p {
	margin-bottom: 1rem;
}

.quiz-container label {
	margin-right: 0.5rem;
}

.check-btn-quiz{
    padding: 0.5rem;
	background: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
	border-radius: 0.25rem;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
    width: 50%;
	margin: auto;
    display: block;
    
}


/* For all the 4 pages */
.output {
	text-align: center;
	margin: 2rem 0;
    /* font-weight: bolder; */
}
@media only screen and (min-width: 600px) {
	.main-container,
	.container,
	.description {
		width: 50%;
	}
}
css

.footer{
background-color: var(--primary-color);
padding: 2rem 4rem;
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
display: block;
border-top-right-radius: 1rem;
color: white;

}
.footer .footer-lists{
text-decoration: none;
text-align: center;
color:white;
}
.footer-links{
text-decoration: none;
color:white;
cursor: pointer;

}
.footer ul {
padding-inline-start: 0px;
}
.footer-div{
text-align: center;
font-weight: bold;

}
.list-inline{
	display: inline;
	
	padding: 0rem 1rem;
	
	}